@*@{
        ViewBag.Title = "About";
    }
    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </main>*@

@model IMS.Models.Entities.Category
@{
    ViewData["Title"] = "Category Create";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col">
            @*<partial name="_ResponsePartial" />*@
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label> @Html.LabelFor(m => m.Name)</label>
                            <input type="text" class="form-control" placeholder="Category Name" /> 
                            @Html.EditorFor(m => m.Name,  new { @class = "form-control", @placeholder = "Category Name" } )/>
                            <span>@Html.ValidationMessageFor(model => model.Name)</span>
                        </div>
                    </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>
                }
            </div>
        </div>
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

@*@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}*@
