@model IMS.BusinessModel.ViewModel.BrandEditViewModel
@{
    ViewData["Title"] = "Brand Edit";
}
@section Styles{
    <style>
        .error {
            color: red;
        }
    </style>
}
<script src="~/Assets/ckeditor/ckeditor.js"></script>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                @using (Html.BeginForm("Edit", "Brand", FormMethod.Post, htmlAttributes: new { @id = "myform", @class = "nav-link cmxform" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "color:red;" })
                        <div class="form-group">
                            <label> @Html.LabelFor(m => m.Name)</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name", @type = "text" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { style = "color:red" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "form-control", @placeholder = "Description" })
                            <script>
                                CKEDITOR.replace("Description");
                            </script>
                        </div>
                        <div class="form-group">
                            <label> @Html.LabelFor(m => m.Status)</label>
                            @Html.DropDownListFor(m => m.Status, (SelectList)ViewBag.StatusList, new { @class = "form-control" })
                        </div>
                        @Html.HiddenFor(model => model.Id)
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Assets/js/validation/jquery.min.js"></script>
    <script src="~/Assets/js/validation/jquery.validate.min.js"></script>
    <script src="~/Assets/js/validation/additional-methods.min.js"></script>
    <script>
        $(document).ready(function () {           
            $("#myform").validate({

                // In 'rules' user have to specify all the
                // constraints for respective fields
                rules: {
                    Name: {
                        required: true,
                        minlength: 3,
                        maxlength: 30
                    },
                    Description: {
                        maxlength: 255
                    }
                },
                // In 'messages' user have to specify message as per rules
                messages: {
                    Name: {
                        required: " Please enter category name",
                        minlength: "At least 3 characters required",
                        maxlength: "At most 30 characters valid",
                    },
                    Description: {
                        maxlength: "At most 255 characters valid"
                    }
                }
            });
        });
    </script>
}
