@model IMS.BusinessModel.Dto.DashboardDto
@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-12">
            <!-- small box -->
            <div class="small-box bg-gradient-info">
                <div class="inner">
                    <h3 class="text-center">Purchase</h3>
                    <h2>@Model.ToatlPurchaseAmount</h2>
                    <p>Total Amount</p>
                    <h2>@Model.ToatlPurchasePaidAmount</h2>
                    <p>Total Paid</p>
                    <h2>@Model.ToatlPurchaseDueAmount</h2>
                    <p>Total Due</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="/purchase/index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-12">
            <!-- small box -->
            <div class="small-box bg-gradient-info">
                <div class="inner">
                    <h3 class="text-center">Sale</h3>
                    <h2>@Model.TotalSaleAmount</h2>
                    <p>Total Amount</p>
                    <h2>@Model.TotalSalePaidAmount</h2>
                    <p>Total Paid</p>
                    <h2>@Model.TotalSaleDueAmount</h2>
                    <p>Total Due</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/sale/index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-6 col-12">
            <!-- small box -->
            <div class="small-box bg-gradient-info">
                <div class="inner">
                    <h3 class="text-center">Supplier</h3>
                    <h2>@Model.TotalActiveSupplier</h2>
                    <p>Total Active</p>
                    <h2>@Model.TotalInActiveSupplier</h2>
                    <p>Total Inactive</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="/supplier/index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-12">
            <!-- small box -->
            <div class="small-box bg-gradient-info">
                <div class="inner">
                    <h3 class="text-center">Customer</h3>
                    <h2>@Model.TotalActiveCustomer</h2>
                    <p>Total Active</p>
                    <h2>@Model.TotalInActiveCustomer</h2>
                    <p>Total InActive</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="/customer/index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>

</div><!-- /.container-fluid -->
