@model IMS.BusinessModel.Dto.LoseProfitReportDto
@{
    ViewBag.Title = "Lose Profit Report";
}
@section Styles{
    <link rel="stylesheet" href="~/Assets/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("LP", "Report", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <div>
                                    Date Range : @Model.DateRange
                                </div>
                                <div id="lp">                                    
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date and time range:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input type="text" name="DateRange" class="form-control float-right" id="reservationtime">                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Generate Report</label>
                                    <button class="form-control btn btn-primary" type="submit"><span class="fas fa-arrow-right"></span></button>
                                </div>
                            </div>

                        </div>
                    }
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <table>
                                <tr><td>Total Purchase</td><td>:</td><td>@Model.PurchasePaymentDetails.Count</td></tr>
                                <tr><td>Total Amount(TK)</td><td>:</td><td id="totalPurchaseAmount">@Model.PurchasePaymentDetails.TotalAmount</td></tr>
                                <tr><td>Total Paid(TK)</td><td>:</td><td>@Model.PurchasePaymentDetails.PaidAmount</td></tr>
                                <tr><td>Total Due(TK)</td><td>:</td><td>@Model.PurchasePaymentDetails.DueAmount</td></tr>
                            </table>
                            <div class="card-body">
                                <table id="Ptable" class="table table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Sl</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total Price</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0, j = 1; i < Model.PurchaseProductList.Count; i++, j++)
                                        {
                                            <tr>
                                                <td>@j</td>
                                                <td>@Model.PurchaseProductList[i].Name</td>
                                                <td>@Model.PurchaseProductList[i].Quantity</td>
                                                <td>@Model.PurchaseProductList[i].TotalPrice</td>                                                
                                                <td>@Model.PurchaseProductList[i].Date</td>                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr><td>Total Sale</td><td>:</td><td>@Model.SalePaymentDetails.Count</td></tr>
                                <tr><td>Total Amount(TK)</td><td>:</td><td id="totalSaleAmount">@Model.SalePaymentDetails.TotalAmount</td></tr>
                                <tr><td>Total Paid(TK)</td><td>:</td><td>@Model.SalePaymentDetails.PaidAmount</td></tr>
                                <tr><td>Total Due(TK)</td><td>:</td><td>@Model.SalePaymentDetails.DueAmount</td></tr>
                            </table>
                            <div class="card-body">
                                <table id="Stable" class="table table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Sl</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total Price</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0, j = 1; i < Model.SaleProductList.Count; i++, j++)
                                        {
                                            <tr>
                                                <td>@j</td>
                                                <td>@Model.SaleProductList[i].Name</td>
                                                <td>@Model.SaleProductList[i].Quantity</td>
                                                <td>@Model.SaleProductList[i].TotalPrice</td>
                                                <td>@Model.SaleProductList[i].Date</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#Ptable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,                
                "searching": false
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#Ptable_wrapper .col-md-6:eq(0)');

            $("#Stable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "searching": false
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#Stable_wrapper .col-md-6:eq(0)');

            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'DD/MM/YYYY hh:mm A'
                }
            });

            let purchase = parseFloat($('#totalPurchaseAmount').text());
            let sale = parseFloat($('#totalSaleAmount').text());
            let v = sale - purchase;
            console.log(v);
            if (v > 0) {
                $('#lp').append(`<span class="badge bg-success"><span class="h6">Profit amount is: ${v} Tk</span></span>`);
            }                                 
            else if (v == 0) {                
                $('#lp').append(`<span class="badge bg-warning"><span class="h6">You have no profit or lose</span></span>`);
            }                                 
            else{                             
                $('#lp').append(`<span class="badge bg-danger"><span class="h6">Lose amount is: ${Math.abs(v)} Tk</span></span>`);
            }
        });
    </script>
    <script>
        function genReport() {
            let v = $('#reservationtime').val();
            window.location.href = '/report/lp/' + v;
        }
    </script>
}
