
@{
    ViewBag.Title = "Add New Purchase";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col 6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Category</label>
                                    <select class="form-control loadProduct" name="category" id="categorySelectBox" >
                                        <option value="">Select Category</option>
                                        @if (ViewBag.CategoryList != null)
                                        {
                                            foreach (var category in ViewBag.CategoryList)
                                            {
                                                <option value="@category.Value">@category.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Brand</label>
                                    <select class="form-control loadProduct" name="brand" id="brandSelectBox">
                                        <option value="">Select Brand</option>
                                        @if (ViewBag.BrandList != null)
                                        {
                                            foreach (var brand in ViewBag.BrandList)
                                            {
                                                <option value="@brand.Value">@brand.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Product</label>
                                <select class="form-control" name="product" id="productSelectBox"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Supplier</label>
                            <select class="form-control" name="supplier">
                                @if (ViewBag.SupplierList != null)
                                {
                                    foreach (var supplier in ViewBag.SupplierList)
                                    {
                                        <option value="@supplier.Value">@supplier.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col 6">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">@ViewBag.Title</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Supplier</label>
                            <select class="form-control" name="supplier">
                                @if (ViewBag.SupplierList != null)
                                {
                                    foreach (var supplier in ViewBag.SupplierList)
                                    {
                                        <option value="@supplier.Value">@supplier.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
   <script>
       $(document).ready(function () {
           $('.loadProduct').change(function () {               
               let cid = $('#categorySelectBox').val();
               let bid = $('#brandSelectBox').val();
               if (bid != null && cid != null) {
                   $.ajax({
                       type: 'POST',
                       url: '/Purchase/UpdateProductList',
                       data: { categoryId: cid, brandId: bid },
                       success: function (data) {
                           console.log(data);
                           var s = '<option value="">Select Product</option>';
                           for (var i = 0; i < data.length; i++) {
                               s += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                           }
                           $("#productSelectBox").html(s);
                       }
                   });
               }
           });
       });
    </script>       
    
    
}