@{
    ViewBag.Title = "Add New Purchase";
}

<div class="container-fluid">
    <div class="row bg-body-secondary">
        <div class="col-12">
            <div class="card-header">
                <h1 class="card-title">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- left column -->
        <div class="col-md-5">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Item Query</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Category</label>
                                    <select class="form-control loadProduct" name="category" id="categorySelectBox">
                                        <option value="">Select Category</option>
                                        @if (ViewBag.CategoryList != null)
                                        {
                                            foreach (var category in ViewBag.CategoryList)
                                            {
                                                <option value="@category.Value">@category.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Brand</label>
                                    <select class="form-control loadProduct" name="brand" id="brandSelectBox">
                                        <option value="">Select Brand</option>
                                        @if (ViewBag.BrandList != null)
                                        {
                                            foreach (var brand in ViewBag.BrandList)
                                            {
                                                <option value="@brand.Value">@brand.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Product</label>
                                    <select class="form-control" name="product" id="productSelectBox"></select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Quantity</label>
                                    <input class="form-control" name="quantity" type="number" id="quantity" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Unit Price</label>
                                    <input class="form-control" name="unitPrice" type="number" id="unitPrice" />
                                </div>
                            </div>
                            <div class="row">
                                <div id="productImage"></div>
                            </div>
                            <div class="row">
                                <input class="btn btn-info btn-block" type="button" id="productAddButton" value="Add" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Item List</h3>
                </div>
                <div class="card-body overflow-y-scroll">
                    @using (Html.BeginForm("Create", "Purchase", FormMethod.Post, htmlAttributes: new { @id = "myform", @class = "nav-link cmxform" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-8">
                                <label>Supplier</label>
                                <select class="form-control" name="supplierId" id="supplierSelectBox">
                                    @if (ViewBag.SupplierList != null)
                                    {
                                        foreach (var supplier in ViewBag.SupplierList)
                                        {
                                            <option value="@supplier.Value">@supplier.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Grand Total</label>
                                <input readonly type="number" class="form-control" id="grandTotal" name="grandTotal" value="0" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap overflow-y-auto">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Unit Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="itemRows">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <input disabled type="submit" class="btn btn-info btn-block" id="purchaseButton" value="Confirm Purchase" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var rowNum = 0;
        var delNum = 0;
        $(document).ready(function () {
            $('.loadProduct').change(function () {
                let cid = $('#categorySelectBox').val();
                let bid = $('#brandSelectBox').val();
                if (bid != null && cid != null) {
                    $.ajax({
                        type: 'POST',
                        url: '/Purchase/UpdateProductList',
                        data: { categoryId: cid, brandId: bid },
                        success: function (data) {
                            console.log(data);
                            var s = '<option value="">Select Product</option>';
                            for (var i = 0; i < data.length; i++) {
                                s += '<option value="' + data[i].value + '">' + data[i].text + '</option>';
                            }
                            $("#productSelectBox").html(s);
                        }
                    });
                }
            });

            $('#productSelectBox').change(function () {
                let id = $(this).val();
                console.log(id);
                if (id != null) {
                    $.ajax({
                        type: 'POST',
                        url: '/Product/GetProductBuyingPrice',
                        data: { productId: id },
                        success: function (data) {
                            console.log(data);
                            $('#unitPrice').val(data.UnitPrice);
                        }
                    });
                }
            });

            $('#productAddButton').click(function () {
                let productName = $("#productSelectBox option:selected").text();
                let productId = $("#productSelectBox").val();
                let quantity = $("#quantity").val();
                let unitPrice = $("#unitPrice").val();

                               
                if (productId > 0 && quantity > 0 && unitPrice > -1) {

                    if ($(`.prd_r${productId}`).length > 0 && $(`.prd_b${productId}`).val() == 'false') {
                        alert('Already exist');
                    }
                    else {
                        if ($(`.prd_r${productId}`).length > 0 && $(`.prd_b${productId}`).length > 0) {
                            alert('Already exist but deleted');
                            $(`.prd_r${productId}`).removeClass(`prd_r${productId}`);
                            $(`.prd_b${productId}`).removeClass(`prd_b${productId}`);
                            
                        }
                        let total = quantity * unitPrice;

                        console.log(productName + ":" + productId + `${quantity} ${unitPrice}`);


                        var row = `<tr id='rowNum${rowNum}' class='prd_r${productId}'>
                                <td id="item[${rowNum}].price"><input hidden type='text' name='model[${rowNum}].ProductId' value= '${productId}'>${productName}</td>
                                <td id="item[${rowNum}].unitPrice"><input hidden type='text' name='model[${rowNum}].UnitPrice' value= '${unitPrice}'>${unitPrice}</td>
                                <td id="item[${rowNum}].quantiy"><input hidden type='text' name='model[${rowNum}].Quantity' value= '${quantity}'>${quantity}</td>
                                <td id="item[${rowNum}].total"><input hidden type='text' name='model[${rowNum}].Total' id='total${rowNum}' value= '${total}'>${total}</td>
                                <td id="item[${rowNum}].button"><input class="btn btn-danger" type="button" value="X" onclick="removeRow(${rowNum})"/>
                                <input id='model${rowNum}' hidden name='model[${rowNum}].IsDeleted' class='prd_b${productId}' value= ${false}></td></tr>`;

                        $('#itemRows').append(row);
                        let v = parseFloat($('#grandTotal').val()) + total;
                        console.log(v);
                        $('#grandTotal').val(v);
                        rowNum++;
                        $('#purchaseButton').prop('disabled', false);
                    }
                }
                else {
                    alert("Give information properly");
                }
            });

        });
        function removeRow(rnum) {
            delNum++;
            console.log($(`#rowNum${rnum}`));
            $(`#model${rnum}`).val(true);            
            $('#grandTotal').val(parseFloat($('#grandTotal').val()) - $(`#total${rnum}`).val());
            $(`#rowNum${rnum}`).hide();

            if (rowNum == delNum) {
                $('#purchaseButton').prop('disabled', true);
            }
        }

    </script>


}